<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalReports.AxShockwaveFlashObjects" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.Design" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.Engine" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.FlashControlV71" version="13.0.3501" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.ClientDoc" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.CommonControls" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.DataSetConversion" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.ObjectFactory" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.Prompting" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.XmlSerialize" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.ReportSource" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.Shared" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.ShockwaveFlashObjects" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.TemplateEngine" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.Web" version="13.0.4000" targetFramework="net472" />
  <package id="CrystalReports.Windows.Forms" version="13.0.4000" targetFramework="net472" />
  <package id="HiNetCloud.Telerik.WinControls" version="20.4.21.21" targetFramework="net472" />
  <package id="HiNetCloud.Telerik.WinControls.GridView" version="20.4.21.21" targetFramework="net472" />
  <package id="HiNetCloud.Telerik.WinControls.UI" version="20.4.21.21" targetFramework="net472" />
  <package id="HiNetCloud.TelerikCommon" version="20.4.21.21" targetFramework="net472" />
  <package id="log4net" version="1.2.10" targetFramework="net472" />
</packages>